alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
coveralls==1.5.1
cycler==0.10.0
decorator==4.3.0
docopt==0.6.2
docutils==0.14
-e git+https://github.com/cperales/foucluster@60f33e919c47c6252dd795707fb2c7e600e019c9#egg=foucluster
idna==2.8
imagesize==1.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==4.3.0
numpy==1.16.0rc1
packaging==18.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pkg-resources==0.0.0
pluggy==0.8.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.7.0
Pygments==2.3.1
pyparsing==2.3.0
pytest==4.0.2
pytest-cov==2.6.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
